@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "./laptopscreen/o-nav.css";
@import "./laptopscreen/o-slide.css";
@import "./laptopscreen/o-footer.css";
@import "./laptopscreen/buttons.css";
@import "./laptopscreen/o-input.css";

*{
 font-family: 'Roboto', sans-serif;
 
}

body{
    margin: 0px;
    padding: 0px;
    border: 0;
    overflow-x: hidden;
    
}
