 div.img-back{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    opacity: 0.45;
    z-index: -1;
    top: 0px;
}
o-nav div.img-back{
    height: 55px;
}
o-nav.large div.img-back{
    height: 75px;
}
o-nav.huge div.img-back{
    height: 90px;
}

/* colors gradinet */
/* primary-color gradinet*/
div.img-back.primary-purple{
    background: linear-gradient(45deg, rgba(31,181,248,1) 0%, rgba(92,45,249,1) 75%);;
}
div.img-back.primary-pink{
    background: linear-gradient(45deg, rgba(31,181,248,1) 0%, rgba(252,0,134,1) 75%);
}
div.img-back.primary-blue{
    background: linear-gradient(45deg, rgba(31,181,248,1) 0%, rgba(38,95,252,1) 75%);
}
div.img-back.primary-green{
    background: linear-gradient(45deg, rgba(31,181,248,1) 0%, rgba(78,197,65,1) 85%);
}
div.img-back.primary-orange{
    background: linear-gradient(45deg, rgba(31,181,248,1) 0%, rgba(251,173,38,1) 85%);
}
div.img-back.primary-red{
    background: linear-gradient(45deg, rgba(31,181,248,1) 0%, rgba(249,54,54,1) 75%);
}
div.img-back.primary-dark{
    background: linear-gradient(45deg, rgba(31,181,248,1) 0%, rgba(41,41,41,1) 65%);
}
div.img-back.primary-gray{
    background: linear-gradient(45deg, rgba(31,181,248,1) 0%, rgba(223,223,223,1) 65%);
}
div.img-back.primary-white{
    background: linear-gradient(45deg, rgba(31,181,248,1) 0%, rgba(255,255,255,1) 65%);
}

/* pink-color gradient */
div.img-back.pink-primary{
    background: linear-gradient(45deg, rgba(252,0,134,1) 0%, rgba(31,181,248,1) 100%);
}
div.img-back.pink-purple{
    background: linear-gradient(45deg, rgba(252,0,134,1) 0%, rgba(92,45,249,1) 100%);
}
div.img-back.pink-blue{
    background: linear-gradient(45deg, rgba(252,0,134,1) 0%, rgba(38,95,252,1) 100%);
}
div.img-back.pink-green{
    background: linear-gradient(45deg, rgba(252,0,134,1) 0%, rgba(78,197,65,1) 100%);
}
div.img-back.pink-orange{
    background: linear-gradient(45deg, rgba(252,0,134,1) 0%, rgba(251,173,38,1) 100%);
}
div.img-back.pink-red{
    background: linear-gradient(45deg, rgba(252,0,134,1) 0%, rgba(249,54,54,1) 100%);
}
div.img-back.pink-dark{
    background: linear-gradient(45deg, rgba(252,0,134,1) 0%, rgba(41,41,41,1) 100%);
}
div.img-back.pink-gray{
    background: linear-gradient(45deg, rgba(252,0,134,1) 0%, rgba(156,158,159,1) 100%);
}
div.img-back.pink-white{
    background: linear-gradient(45deg, rgba(252,0,134,1) 0%, rgba(255,255,255,1) 100%);
}

/* purple-color gradient */
div.img-back.purple-primary{
    background: linear-gradient(45deg, rgba(92,45,249,1) 0%, rgba(31,181,248,1) 100%);
}
div.img-back.purple-pink{
    background: linear-gradient(45deg, rgba(92,45,249,1) 0%, rgba(252,0,134,1) 100%);
}
div.img-back.purple-blue{
    background: linear-gradient(45deg, rgba(92,45,249,1) 0%, rgba(38,95,252,1) 100%);
}
div.img-back.purple-green{
    background: linear-gradient(45deg, rgba(92,45,249,1) 0%, rgba(78,197,65,1) 100%);
}
div.img-back.purple-orange{
    background: linear-gradient(45deg, rgba(92,45,249,1) 0%, rgba(251,173,38,1) 100%);
}
div.img-back.purple-red{
    background: linear-gradient(45deg, rgba(92,45,249,1) 0%, rgba(249,54,54,1) 100%);
}
div.img-back.purple-dark{
    background: linear-gradient(45deg, rgba(92,45,249,1) 0%, rgba(41,41,41,1) 100%);
}
div.img-back.purple-gray{
    background: linear-gradient(45deg, rgba(92,45,249,1) 0%, rgba(156,158,159,1) 100%);
}
div.img-back.purple-white{
    background: linear-gradient(45deg, rgba(92,45,249,1) 0%, rgba(255,255,255,1) 100%);
}

/* blue-color gradient */
div.img-back.blue-primary{
    background: linear-gradient(45deg, rgba(38,95,252,1) 0%, rgba(31,181,248,1) 100%);
}
div.img-back.blue-pink{
    background: linear-gradient(45deg, rgba(38,95,252,1) 0%, rgba(252,0,134,1) 100%);
}
div.img-back.blue-purple{
    background: linear-gradient(45deg, rgba(38,95,252,1) 0%, rgba(92,45,249,1) 100%);
}
div.img-back.blue-green{
    background: linear-gradient(45deg, rgba(38,95,252,1) 0%, rgba(78,197,65,1) 100%);
}
div.img-back.blue-orange{
    background: linear-gradient(45deg, rgba(38,95,252,1) 0%, rgb(251,173,38,1) 100%);
}
div.img-back.blue-red{
    background: linear-gradient(45deg, rgba(38,95,252,1) 0%, rgba(249,54,54,1) 100%);
}
div.img-back.blue-dark{
    background: linear-gradient(45deg, rgba(38,95,252,1) 0%, rgba(41,41,41,1) 100%);
}
div.img-back.blue-gray{
    background: linear-gradient(45deg, rgba(38,95,252,1) 0%, rgba(156,158,159,1) 100%);
}
div.img-back.blue-white{
    background: linear-gradient(45deg, rgba(38,95,252,1) 0%, rgba(255,255,255,1) 100%);
}

/* green-color gradient */
div.img-back.green-primary{
    background: linear-gradient(45deg, rgba(78,197,65,1) 0%, rgba(31,181,248,1) 100%);
}
div.img-back.green-pink{
    background: linear-gradient(45deg, rgba(78,197,65,1) 0%, rgba(252,0,134,1) 100%);
}
div.img-back.green-blue{
    background: linear-gradient(45deg, rgba(78,197,65,1) 0%, rgba(38,95,252,1) 100%);
}
div.img-back.green-purple{
    background: linear-gradient(45deg, rgba(78,197,65,1) 0%, rgba(92,45,249,1) 110%);
}
div.img-back.green-orange{
    background: linear-gradient(45deg, rgba(78,197,65,1) 0%, rgba(251,173,38,1) 100%);
}
div.img-back.green-red{
    background: linear-gradient(45deg, rgba(78,197,65,1) 0%, rgba(249,54,54,1) 100%);
}
div.img-back.green-dark{
    background: linear-gradient(45deg, rgba(78,197,65,1) 0%, rgba(41,41,41,1) 100%);
}
div.img-back.green-gray{
    background: linear-gradient(45deg, rgba(78,197,65,1) 0%, rgba(156,158,159,1) 100%);
}
div.img-back.green-white{
    background: linear-gradient(45deg, rgba(78,197,65,1) 0%, rgba(255,255,255,1) 100%);
}

/* orange-color gradient */
div.img-back.orange-primary{
    background: linear-gradient(45deg, rgba(251,173,38,1) 0%, rgba(31,181,248,1) 100%);
}
div.img-back.orange-pink{
    background: linear-gradient(45deg, rgba(251,173,38,1) 0%, rgba(252,0,134,1) 100%);
}
div.img-back.orange-blue{
    background: linear-gradient(45deg, rgba(251,173,38,1) 0%, rgba(38,95,252,1) 100%);
}
div.img-back.orange-purple{
    background: linear-gradient(45deg, rgba(251,173,38,1) 0%, rgba(92,45,249,1) 110%);
}
div.img-back.orange-green{
    background: linear-gradient(45deg, rgba(251,173,38,1) 0%, rgba(78,197,65,1) 100%);
}
div.img-back.orange-red{
    background: linear-gradient(45deg, rgba(251,173,38,1) 0%, rgba(249,54,54,1) 100%);
}
div.img-back.orange-dark{
    background: linear-gradient(45deg, rgba(251,173,38,1) 0%, rgba(41,41,41,1) 100%);
}
div.img-back.orange-gray{
    background: linear-gradient(45deg, rgba(251,173,38,1) 0%, rgba(156,158,159,1) 100%);
}
div.img-back.orange-white{
    background: linear-gradient(45deg, rgba(251,173,38,1) 0%, rgba(255,255,255,1) 100%);
}

