@import "global.css";

@media only screen and (min-width: 1000px) {

    o-nav ul li{
        display: inline;
        margin-right: 10px;
        position: relative;
        
        }
    o-nav ul.right{
        float: right;
        
    }

    o-nav ul.left{
        float: left; 
                
    }
    o-nav ul li.shadow{
        text-shadow: 4px 5px 3px black;

                
    }

 
    
    

  }



