@media only screen and (max-width: 699px) { 

div.o-card.x2,
div.o-card.x1{
    width:calc(50% - 1.36px)
}
div.o-card.x3{
    width: 100%;
}
div.o-card.y1{
    height: calc(25% - 1.36px);
}
div.o-card.y2{
    height: calc(50% - 1.36px);
}
div.o-card.y3{
    height: calc(75% - 1.36px);
}

}