@media only screen and (max-width: 799px) { 

o-footer div.hold-50 h1.title{
    font-size: 25px;
}
o-footer div.hold-50 a,
o-footer div.hold-50 li,
o-footer div.hold-50 p{
    font-size: 18px;
}
o-footer div h1.title,
o-footer div h2.title,
o-footer div h3.title,
o-footer div h4.title{
margin: 10px 10px 20px 10px;
}
}