@media only screen and (max-width : 799px){ 
o-nav o-icons{
    margin-top: 3px;
}
o-nav.large o-icons {
    margin-top: 11px !important;
}
o-nav.huge o-icons{
    margin-top: 16px;
}
o-nav ul{
    padding-left: 0px;
}
o-nav ul li a {
    font-size: 15px;
}
o-nav h1{
    margin: 8px 5px 4px 10px
}
o-nav o-icons img {
    width: 25px;
    margin: 10px 10px 0px 10px;
    position: relative;     
}
}