@media only screen and (max-width : 799px){ 
o-nav o-icons{
    margin-top: 3px;
}
o-nav.large o-icons {
    margin-top: 11px !important;
}
o-nav.huge o-icons{
    margin-top: 16px;
}
o-nav ul.list{
    padding-left: 10px;
}
o-nav ul.list li a {
    font-size: 15px;
}
o-nav h1{
    margin: 8px 5px 4px 10px
}
o-nav o-icons img {
    width: 25px;
    margin: 10px 10px 0px 10px;
    position: relative;     
}
}

@media only screen and (max-width : 699px){ 
o-nav div.list-mobile{
    width: 100px;
    height: 40px;
    position: relative;
    display: inline-block;
}
o-nav div.list-mobile.left{
    float: left;
}
o-nav div.list-mobile.right{
    float: right;
}
o-nav div.list-mobile ul.list{
    width: auto;
    display: flow-root;
    margin: 10px 0px 0px 0px;
    font-size: 17px;
    position: absolute;
    padding-right: 5px;
    height: auto;
}
o-nav div.list-mobile ul.list a{
    text-decoration: none;
    width: 150px !important;
    color: inherit;
    padding: 7px 0px 7px 5px;
    position: relative !important;
    width: 100%;
    display: inline-block;
}
o-nav div.list-mobil ul.list.pink{
    background-color: #FC0086 !important;
}
o-nav div.list-mobile ul.list.darkpink{
    background-color: #8A0E50 !important;
}
o-nav div.list-mobile ul.list.softpink{
    background-color: #B23577 !important;
}
o-nav div.list-mobile ul.list.purple{
    background-color: #5C2DF9 !important;
}
o-nav div.list-mobile ul.list.darkpurple{
    background-color: #271467 !important;
}
o-nav div.list-mobile ul.list.softpurple{
    background-color: #715DB3 !important;
}
o-nav div.list-mobile ul.list.primary{
    background-color: #1FB5F8 !important;
}
o-nav div.list-mobile ul.list.blue{
    background-color: #265FFC !important;
}
o-nav div.list-mobile ul.list.darkblue{
    background-color: #1C3885 !important;
}
o-nav div.list-mobile ul.list.softblue{
    background-color: #546DB3 !important;
}
o-nav div.list-mobile ul.list.green{
    background-color: #4EC541 !important;
}
o-nav div.list-mobile ul.list.darkgreen{
    background-color: #616527 !important;
}
o-nav div.list-mobile ul.list.softgreen{
    background-color: #9BA234 !important;
}
o-nav div.list-mobile ul.list.lightgreen{
    background-color: #26FB91 !important;
}
o-nav div.list-mobile ul.list.orange{
    background-color: #FBAD26 !important;
}
o-nav div.list-mobile ul.list.darkorange{
    background-color: #9A6509 !important;
}
o-nav div.list-mobile ul.list.softorange{
    background-color: #BD8D3A !important;
}
o-nav div.list-mobile ul.list.red{
    background-color: #F93636 !important;
}
o-nav div.list-mobile ul.list.darkred{
    background-color: #6C0D0D !important;
}
o-nav div.list-mobile ul.list.softred{
    background-color: #C34242 !important;
}
o-nav div.list-mobil ul.list.dark{
    background-color: #292929 !important;
}
o-nav div.list-mobile ul.list.gray{
    background-color: #9C9E9F !important;
}
o-nav div.list-mobile ul.list.lightgray{
    background-color: #DFDFDF !important;
    font: #ffffff;
}
o-nav div.list-mobile ul.list.white{
    background-color: #ffffff !important;
}
}