
button.bt{
 width: 100px;
 height: 40px;
 border-radius: 3px;
 border: none;
 margin: 5px;
 color: white;
 text-align: center;
 position: relative !important;
 cursor: pointer;
 
}

button.bt.big{
    width: 13em !important;
    font-size: 17px;
}

button.bt.large{
    width: 20em !important;
    font-size: 19px;
}

button.bt.huge{
    width: 25em !important;
    font-size: 20px;
}

button.bt.left{
    float: left !important;
}
button.bt.right{
    float: right !important;
}

button.bt.littleleft{
    float: left !important;
    left: 15%;
}
button.bt.littleright{
    float: right !important;
    right: 15%;
}

button.bt.center{
   left: 35% !important;
    
}



button.bt.rd {
    border-radius: 30px !important;
}

button.bt.sh {
    box-shadow: 0px 2px 4px #505050;;
}



/* this is the border buttons style */





/* buttons icons */


button.bt.large.icon{
display: inline-block;
}

button.bt.large.icon p{
 margin: 1.5px 0px 0px 28% ;
 padding: 0;
 float: left;
 font-size: 18px;
    
}

button.bt.large.icon img{
    position: relative;
    width: 23px;
    margin-left: 10px;


}


button.bt.huge.icon p{
    margin: 1.5px 0px 0px 32% ;
    padding: 0;
    float: left;
    font-size: 18px;
       
   }
   
   button.bt.huge.icon img{
       position: relative;
       width: 23px;
       margin-left: 5px;
   
   
   }

   
   
   
   









