
button.bt{
 width: 100px;
 height: 40px;
 border-radius: 3px;
 border: none;
 margin: 5px;
 color: white;
 text-align: center;
 position: relative !important;
 cursor: pointer;
 
}

button.bt.large{
    width: 15% !important;
}

button.bt.huge{
    width: 25% !important;
}

button.bt.pink{
    background-color: #FC0086 ;
}

button.bt.purple{
    background-color: #5C2DF9 ;
}
button.bt.primary{
    background-color: #1FB5F8 ;
}
button.bt.green{
    background-color: #4EC541 ;
}
button.bt.lightgreen{
    background-color: #26FB91 ;
}
button.bt.lightorange{
    background-color: #FBAD26 ;
}
button.bt.red{
    background-color: #F93636 ;
}
button.bt.dark{
    background-color: #292929;
}
button.bt.gray{
    background-color: #9C9E9F;
}
button.bt.lightgray{
    background-color:  #DFDFDF;
}

button.bt.rd {
    border-radius: 30px !important;
}

button.bt.sh {
    box-shadow: 0px 2px 4px #505050;;
}



/* this is the border buttons style */



button.bt.bo{
    background-color: transparent;
}

button.bt.bo.pink{
    border: 2px solid #FC0086; 
    color: #FC0086;

}

button.bt.bo.purple{
    border: 2px solid #5C2DF9; 
    color: #5C2DF9;

}

button.bt.bo.primary{
    border: 2px solid #1FB5F8; 
    color: #1FB5F8;

}


button.bt.bo.green{
    border: 2px solid #4EC541; 
    color: #4EC541;

}


button.bt.bo.lightgreen{
    border: 2px solid #26FB91; 
    color: #26FB91;

}


button.bt.bo.lightorange{
    border: 2px solid #FBAD26; 
    color: #FBAD26;

}


button.bt.bo.red{
    border: 2px solid #F93636; 
    color: #F93636;

}


button.bt.bo.dark{
    border: 2px solid #292929; 
    color: #292929;

}

button.bt.bo.gray{
    border: 2px solid #9C9E9F; 
    color: #9C9E9F;

}

button.bt.bo.lightgray{
    border: 2px solid #DFDFDF; 
    color: #DFDFDF;

}



/* buttons icons */


button.bt.large.icon{
display: inline-block;
}

button.bt.large.icon p{
 margin: 1.5px 0px 0px 28% ;
 padding: 0;
 float: left;
 font-size: 18px;
    
}

button.bt.large.icon img{
    position: relative;
    width: 23px;
    margin-left: 10px;


}











