@media only screen and (min-width: 1000px) { 


div.o-card{
background-color: #1FB5F8;
float: left;
margin: 0.7px;
position: relative;
overflow: hidden;
display: flow-root;
}

div.o-card.left{
float: left;
}

div.o-card.right{
    float: right;
}

div.o-card.full{
margin: 0;
}





/* card sizes */
div.o-card.x1{
width: 24.89%;


}

div.o-card.x2{
    width: 49.89%;
    
    
    }


div.o-card.y1{
    height: 35%;
    
}


div.o-card.y2{
    height: 70%;
    
}


div.o-card.xfull{
    width: 100%;
}

div.o-card.yfull{
    height: 100%;
}

div.o-card img.full{
width: 100% !important;
height: 100% !important;
position: relative;
top: 0px;

}

div.o-card img{
width: 97%;
height: 97%;
position: relative;
margin-left: auto;
margin-right: auto;
display: block;
top: 2px;
}

div.o-card img.rd{
    border-radius: 6%;

}


div.container-list{
    width: 90%;
    height: 100%;
    margin: 0 5%;
}

div.container-list div.o-card{

    margin:  20px 50px;
}



}