@media only screen and (min-width: 1000px) { 


div.o-card{
background-color: #1FB5F8;
float: left;
margin: 0.5px;
}

div.o-card.x1{
width: 19.40%;


}

div.o-card.x2{
    width: 40%;
    
    
    }


div.o-card.y1{
    height: 35%;
    
}


div.o-card.y2{
    height: 70%;
    
}


}