@media only screen and (min-width: 1000px) { 

 o-footer{
     width: 100%;
     height: 100px;
     background-color: black;
     float: left;
     position: fixed;
     bottom: 0px;
     left: 0px;
 }


 
 o-footer.large{
    height: 200px !important;
   }

   
 o-footer.huge{
    height: 300px !important;
   }


   o-footer.primary{
    background-color: #1FB5F8 !important;
}
o-footer.lightblue{
    background-color: #1FE9F8 !important;

}
o-footer.lightgreen{
    background-color: #1FF8A7 !important;
}
o-footer.lightyellow{
    background-color: #FFFF56 !important;
    color: #2B2B2B !important;

}
o-footer.orange{
    background-color: #F8B71F !important;
    
}
o-footer.red{
    background-color: #FE3A3A !important;
}
o-footer.pink{
    background-color: #FF51B4 !important;
}
o-footer.dark{
    background-color: #292929 !important;
}
o-footer.gray{
    background-color: #9C9E9F !important;
    color: #2B2B2B !important;
}

o-footer.lightgray{
    background-color: #DFDFDF !important;
    color: #2B2B2B !important;

}

o-footer div.hold-25{
    width: 25%;
    height: 100%;
    float: left;
}

o-footer div.hold-50{
    width: 50%;
    height: 100%;
    float: left;
}
o-footer div.hold-75{
    width: 75%;
    height: 100%;
    float: left;
}

o-footer div.hold-100{
    width: 100%;
    height: 100%;
    float: left;
}

o-footer div h1.title,
o-footer div h2.title,
o-footer div h3.title,
o-footer div h4.title
{
 margin: 20px;
}

o-footer div ul{
    margin-top: -10px;
    list-style: none;
}

o-footer div ul.large{
    margin-top: -10px;
    font-size: 20px;
}

 o-footer div ul li,
 o-footer div ul li a{
    color:inherit;
    text-decoration: none;
    margin: 8px 0px 0px 0px ;
    position: relative !important;

 }







 } 