o-footer{
    position: relative;
    width: 100%;
    min-height:100px;
    height: auto;
    float: left;
    left: 0px;
    bottom: 0px;
    margin-top: 1px;
}
o-footer.large{
    min-height: 200px;
}  
 o-footer.huge{
    min-height: 300px;
}
o-footer div.hold-25{
    width: 25%;
    height: 100%;
    float: left;
}
o-footer div.hold-50{
    width: 50%;
    height: 100%;
    float: left;
}
o-footer div.hold-75{
    width: 75%;
    height: 100%;
    float: left;
}
o-footer div.hold-100{
    width: 100%;
    height: 100%;
    float: left;
}
o-footer div ul{
    padding: 0px;
    margin: 10px;   
    list-style: none;
}
o-footer div ul.large{
    margin-top: -10px;
    font-size: 20px;
}
o-footer div ul li,
o-footer div ul li a{
   color:inherit;
   text-decoration: none;
   margin: 8px 0px 0px 0px ;
   position: relative !important;
}

 /* the image background style */
o-footer img.img-back{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    display: block;
}
@media only screen and (min-width: 800px) { 
 
o-footer div .title{
 margin: 20px 10px 15px 5px;
}
} 