form.o-form.center {
    margin-left: auto;
    margin-right: auto;
}
form.o-form .title{
    text-align: center;
}
input.o-input:focus {
    outline: none;
}

/* colors of the input(just the text) */
input[type = text].o-input.pink,
input[type = password].o-input.pink,
input[type = email].o-input.pink{
    border-color: #FC0086 !important;
}
input[type = text].o-input.darkpink,
input[type = password].o-input.darkpink,
input[type = email].o-input.darkpink{
    border-color: #8A0E50 !important;
}
input[type = text].o-input.softpink,
input[type = password].o-input.softpink,
input[type = email].o-input.softpink{
    border-color: #B23577 !important;
}
input[type = text].o-input.purple,
input[type = password].o-input.purple,
input[type = email].o-input.purple{
    border-color: #5C2DF9 !important;
}
input[type = text].o-input.darkpurple,
input[type = password].o-input.darkpurple,
input[type = email].o-input.darkpurple{
    border-color: #271467 !important;
}
input[type = text].o-input.softpurple,
input[type = password].o-input.softpurple,
input[type = email].o-input.softpurple{
    border-color: #715DB3 !important;
}
input[type = text].o-input.primary,
input[type = password].o-input.primary,
input[type = email].o-input.primary{
    border-color: #1FB5F8 !important;
}
input[type = text].o-input.blue,
input[type = password].o-input.blue,
input[type = email].o-input.primary{
    border-color: #265FFC !important;
}
input[type = text].o-input.darkblue,
input[type = password].o-input.darkblue,
input[type = email].o-input.darkblue{
    border-color: #1C3885 !important;
}
input[type = text].o-input.softblue,
input[type = password].o-input.softblue,
input[type = email].o-input.softblue{
    border-color: #546DB3 !important;
}
input[type = text].o-input.green,
input[type = password].o-input.green,
input[type = email].o-input.green{
    border-color: #4EC541 !important;
}
input[type = text].o-input.darkgreen,
input[type = password].o-input.darkgreen,
input[type = email].o-input.darkgreen{
    border-color: #616527 !important;
}
input[type = text].o-input.softgreen,
input[type = password].o-input.softgreen,
input[type = email].o-input.softgreen{
    border-color: #9BA234 !important;
}
input[type = text].o-input.lightgreen,
input[type = password].o-input.lightgreen,
input[type = email].o-input.lightgreen{
    border-color: #26FB91 !important;
}
input[type = text].o-input.orange,
input[type = password].o-input.orange,
input[type = text].o-input.orange{
    border-color: #FBAD26 !important;
}
input[type = text].o-input.darkorange,
input[type = password].o-input.darkorange,
input[type = text].o-input.darkorange{
    border-color: #9A6509 !important;
}
input[type = text].o-input.softorange,
input[type = password].o-input.softorange,
input[type = text].o-input.softorange{
    border-color: #BD8D3A !important;
}
input[type = text].o-input.red,
input[type = password].o-input.red,
input[type = email].o-input.red{
    border-color: #F93636 !important;
}
input[type = text].o-input.darkred,
input[type = password].o-input.darkred,
input[type = email].o-input.darkred{
    border-color: #6C0D0D !important;
}
input[type = text].o-input.softred,
input[type = password].o-input.softred,
input[type = email].o-input.softred{
    border-color: #C34242 !important;
}
input[type = text].o-input.dark,
input[type = password].o-input.dark,
input[type = email].o-input.dark{
    border-color: #292929 !important;
}
input[type = text].o-input.gray,
input[type = password].o-input.gray,
input[type = email].o-input.gray{
    border-color: #9C9E9F !important;
}
input[type = text].o-input.lightgray,
input[type = password].o-input.lightgray,
input[type = email].o-input.lightgray{
    border-color:  #DFDFDF !important;
}
input[type = text].o-input.normal,
input[type = password].o-input.normal,
input[type = email].o-input.normal{
    background-color: #ffffff !important;
    border: 1px solid #ced4da !important;
}
input[type = text].o-input.rd,
input[type = password].o-input.rd,
input[type = email].o-input.rd{
    border-radius:  20px !important;
}

form.o-form div.iconinput{
    width: 100%;
    height: 51px;
}

/* working on the checkbox */
div.formchek {
    display: flow-root;
    float: left;
    margin: 10px;
}
div.formchek label{
    position: relative;
    text-align: center;
    bottom: 7px;
}
input[type = checkbox].normal{
    -webkit-appearance: none;
    background-color: #fafafa;
    border-radius: 1px;
    display: inline-block;
    position: relative;
    border: 1px solid hsl(180, 4%, 83%);
    width: 20px;
    height: 20px;
}
input[type = checkbox].normal:checked {
    background-color: #fafafa;
    color: #99a1a7;
}
input[type = checkbox].normal:active,
input[type = checkbox].normal:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
input[type = checkbox].normal:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
}
input[type = checkbox].normal:checked {
    color: #99a1a7;
}
input[type = checkbox].normal.pink:checked {
    background-color: #FC0086;
    color: #ffffff !important;
}
input[type = checkbox].normal.purple:checked {
    background-color: #5C2DF9;
    color: #ffffff !important;
}
input[type = checkbox].normal.primary:checked {
    background-color: #1FB5F8; 
    color: #ffffff !important;
}
input[type = checkbox].normal.green:checked {
    background-color: #4EC541; 
    color: #ffffff !important;
}
input[type = checkbox].normal.lightgreen:checked {
    background-color: #26FB91; 
    color: #ffffff !important;
}
input[type = checkbox].normal.lightorange:checked {
    background-color: #FBAD26;
    color: #ffffff !important;
}
input[type = checkbox].normal.red:checked {
    background-color: #F93636;
    color: #ffffff !important;
}
input[type = checkbox].normal.dark:checked {
    background-color: #292929; 
    color: #ffffff !important;
}
  
 /* radio button */
div.formrad{
    display: flow-root;
    float: left;
    margin: 10px;
}
div.formrad label{
    position: relative; 
    text-align: center;
    bottom: 7px;
}
input[type = radio].normal {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}
input[type = radio].normal:checked:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	left: 3px;
	font-size: 32px;
}
input[type = radio].normal:checked {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
input[type = radio].normal:active, .regular-radio:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
input[type = radio].normal.pink:checked:after {
    background-color: #FC0086;
}
input[type = radio].normal.darkpink:checked:after {
    background-color: #8A0E50;
}
input[type = radio].normal.softpink:checked:after {
    background-color: #B23577;
}
input[type = radio].normal.purple:checked:after {
    background-color: #5C2DF9;
}
input[type = radio].normal.darkpurple:checked:after {
    background-color: #271467;
}
input[type = radio].normal.softpurple:checked:after {
    background-color: #715DB3;
}
input[type = radio].normal.primary:checked:after {
    background-color: #1FB5F8;
}
input[type = radio].normal.blue:checked:after {
    background-color: #265FFC;
}
input[type = radio].normal.darkblue:checked:after {
    background-color: #1C3885;
}
input[type = radio].normal.softblue:checked:after {
    background-color: #546DB3;
}
input[type = radio].normal.green:checked:after {
    background-color: #4EC541;
}
input[type = radio].normal.darkgreen:checked:after {
    background-color: #616527;
}
input[type = radio].normal.softgreen:checked:after {
    background-color: #9BA234;
}
input[type = radio].normal.lightgreen:checked:after {
    background-color: #26FB91;
}
input[type = radio].normal.orange:checked:after {
    background-color: #FBAD26;
}
input[type = radio].normal.darkorange:checked:after {
    background-color: #9A6509;
}
input[type = radio].normal.softorange:checked:after {
    background-color: #BD8D3A;
}
input[type = radio].normal.red:checked:after {
    background-color: #F93636;
}
input[type = radio].normal.darkred:checked:after {
    background-color: #6C0D0D;
}
input[type = radio].normal.softred:checked:after {
    background-color: #C34242;
}
input[type = radio].normal.dark:checked:after {
    background-color: #292929;
}

   
@media only screen and (min-width: 600px) {

form.o-form {
    margin: 20px;
    width: 20em;
    height: auto;
    display: flow-root;
}
form.o-form.large{
    width: 30em !important;
}
form.o-form.huge{
    width: 40em !important;
}

input[type= text].o-input,
input[type= password].o-input,
input[type= email].o-input{
    padding: 10px 0px 10px 10px;
    width: 400px;
    margin-top: 10px;
    border: 2.2px solid #1FB5F8;
    border-radius: 3px;
    font-size: 16px !important; 
}
form.o-form input.o-input{
    width: 95%;
}
form.o-form.large input[type= text].o-input,
form.o-form.large input[type= password].o-input,
form.o-form.large input[type= email].o-input{
    width: 97% !important;
}
form.o-form.huge input[type = text].o-input,
form.o-form.huge input[type = password].o-input,
form.o-form.huge input[type = email].o-input{
    width: 98% !important;
}

 /* iconinput */
 div.iconinput{
     width: 400px;
     position: relative;
     display: flow-root;
 }
 div.iconinput input.o-input{
    float: right;
    width: 288px;
    border-radius: 0px 3px 3px 0px;
    border-width: 1px !important;
  }
 div.iconinput span.icon{
     margin: 0px;
     position: relative;
     float: left;
     top:10px;
     background-color: #292929;
     width: 100px;
     height: 41px !important;
     border-radius: 3px 0px 0px 3px;
 }

 /* large size iconinput */
 div.iconinput.large{
    width: 500px;
}
div.iconinput.large input.o-input{
    width: 368px;
  }
  div.iconinput.large span.icon{
    width: 120px;
}

 /* huge size iconinput */
 div.iconinput.huge{
    width: 650px;
 }
div.iconinput.huge input.o-input{
    width: 518px;
  }
  div.iconinput.huge span.icon{
    width: 120px;
}
div.iconinput.huge span.icon img,
div.iconinput.large span.icon img{
   margin: 0px 40%;  
}
 div.iconinput span.icon p{
     padding: 0px;
     margin: 0px;
     text-align: center;
     position: relative;
     top: 25%;
 }
 div.iconinput span.icon img{
     padding: 0px;
     margin: 0px 37%;     
     position: relative;
     top: 20%;
     width: 23px;
 }

/* added form sizes iconinput */
form.o-form div.iconinput input.o-input{
    width: 208px;
}
form.o-form.large div.iconinput input.o-input{
    width: 75.2% !important;
}
form.o-form.large div.iconinput span.icon{
    width: 22.3% !important;
     /* height: 41px !important; */
}
form.o-form.huge div.iconinput input.o-input{
    width: 75.8% !important;
}
form.o-form.huge div.iconinput span.icon{
    width: 22.3% !important;
     /* height: 41px !important; */ 
}

/* fixing the span.icon img */
form.o-form.huge div.iconinput span.icon img,
form.o-form.large div.iconinput span.icon img{
    margin: 0px 40%;
}

/* dropdown button */
div.dropdown{
    position: relative;
    display: inline-block;
}
div.dropdown p{
    margin: 0px;
}
div.dropdown div.drop-list{
    background-color: #ffffff;
    width: auto;
    display: flow-root;
    margin: 10px 0px 0px 0px;
    font-size: 17px;
    position: absolute;
    padding-right: 5px;
}
div.dropdown div.drop-list a{
    text-decoration: none;
    width: 150px !important;
    color: inherit;
    padding: 7px 0px 7px 5px;
    position: relative !important;
    width: 100%;
    display: inline-block;
}
}