
@media only screen and (min-width: 1000px) {

    o-nav{
        color: #d3cdcd;
        background-color : #1FB5F8;
        width: 100%;
        height:55px;
        float: left
    }
    o-nav.primary{
        background-color: #1FB5F8 !important;
    }
    o-nav.lightblue{
        background-color: #1FE9F8 !important;

    }
    o-nav.lightgreen{
        background-color: #1FF8A7 !important;
    }
    o-nav.lightyellow{
        background-color: #FFFF56 !important;
        color: #2B2B2B !important;

    }
    o-nav.orange{
        background-color: #F8B71F !important;
        
    }
    o-nav.red{
        background-color: #FE3A3A !important;
    }
    o-nav.pink{
        background-color: #FF51B4 !important;
    }
    o-nav.dark{
        background-color: #292929 !important;
    }
    o-nav.gray{
        background-color: #9C9E9F !important;
        color: #2B2B2B !important;
    }
    
    o-nav.lightgray{
        background-color: #DFDFDF !important;
        color: #2B2B2B !important;

    }
/* 
 o- nav size
     */


    o-nav.large{
        height: 75px !important;
    }

    o-nav.huge{
        height: 90px !important;
    }

    o-nav.large ul {
     margin-top: 25px !important;
    }

    o-nav.large h1 {
        margin-top: 17px !important;
       }

    o-nav.huge ul{
        margin-top: 30px;

    }
    o-nav.huge h1{
        margin-top: 22px ;
        
    }

    o-nav ul{
        width: auto;
        height : 20px
    }




    o-nav ul li{
        display: inline;
        margin-right: 25px;
        position: relative;
        cursor: pointer;

        
        }
    o-nav ul.right{
        float: right;
        
    }

    o-nav ul.left{
        float: left; 
                
    }
    o-nav .shadow{
        text-shadow: 4px 8px 6px #505050;
                
    }

    o-nav ul li a {
        text-decoration: none;
        display: inline-block;
        color:inherit
    }

    o-nav h1{
        margin: 8px 20px 4px 20px
    }

 o-nav h1.right {
     position: relative;
     float: right;
 }

 o-nav h1.left {
    position: relative;
    float: left;
}

o-nav icons img {
    width: 32px;
    margin: 10px 20px 0px 10px;
    position: relative;

    
}

o-nav icons img.right {
    float: right;
    
}

o-nav icons img.left {
    float: left;
    
}
    
    

  }



