@media only screen and (min-width: 1000px) {
 
    o-slide{
        width: 250px;
        height: 100%;
        background-color : #1FB5F8;
        position: absolute;
        right: 0px;
    }


    o-slide.primary{
        background-color: #1FB5F8 !important;
    }

    o-slide.lightblue{
        background-color: #1FE9F8 !important;

    }
    o-skide.lightgreen{
        background-color: #1FF8A7 !important;
    }
    o-slide.lightyellow{
        background-color: #FFFF56 !important;
        color: #2B2B2B !important;

    }
    o-slide.orange{
        background-color: #F8B71F !important;
        
    }
    o-slide.red{
        background-color: #FE3A3A !important;
    }
    o-slide.pink{
        background-color: #FF51B4 !important;
    }
    o-slide.dark{
        background-color: #292929 !important;
    }
    o-slide.gray{
        background-color: #9C9E9F !important;
        color: #2B2B2B !important;
    }
    
    o-slide.lightgray{
        background-color: #DFDFDF !important;
        color: #2B2B2B !important;

    }

    o-slide o-icons{
        width: auto;
    }

    o-slide o-icons img{
        margin: 10px 10px 20px 10px !important;
        width: 30px;
        position: relative;

    }

    
    o-slide o-icons img.right{
        float: right !important;
    }

    
    o-slide o-icons img.left{
        float: left !important;
    }


}