@media only screen and (min-width: 1000px) {
 
    o-slide{
        width: 250px;
        height: 100%;
        background-color : #1FB5F8;
        position: fixed;
        right: 0px;
        z-index: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }


    o-slide.primary{
        background-color: #1FB5F8 !important;
    }

    o-slide.lightblue{
        background-color: #1FE9F8 !important;

    }
    o-skide.lightgreen{
        background-color: #1FF8A7 !important;
    }
    o-slide.lightyellow{
        background-color: #FFFF56 !important;
        color: #2B2B2B !important;

    }
    o-slide.orange{
        background-color: #F8B71F !important;
        
    }
    o-slide.red{
        background-color: #FE3A3A !important;
    }
    o-slide.pink{
        background-color: #FF51B4 !important;
    }
    o-slide.dark {
        background-color: #292929 !important;
        color: #d3cdcd;

    }
    o-slide.dark ul.list li,
    o-slide.dark o-icons{
        border-color: #d3cdcd !important;
    }
    o-slide.gray{
        background-color: #9C9E9F !important;
        color: #2B2B2B !important;
    }
    
    o-slide.lightgray{
        background-color: #DFDFDF !important;
        color: #2B2B2B !important;

    }

    o-slide o-icons{
        width: 250px !important;
        /* margin-bottom: 20px !important; */
        display: block !important;
        height: 30px !important;
        /* border-top: 1px groove gray; */
        /* border-bottom: 1px groove gray; */
        padding-bottom: 18px;
        

        
    }

    o-slide o-icons img{
        margin: 10px 10px 20px 10px !important;
        width: 30px;
        position: relative;
    }

    
    o-slide o-icons img.right{
        float: right !important;
        
    }

    
    o-slide o-icons img.left{
        float: left !important;
    }

   o-slide o-imager{
        width: 250px;
        position: relative;
        height: 300px;
        
    }

    o-slide o-imager img.header{
        width: 250px;
        margin-bottom: 5px;
    }
    o-slide o-imager h1 ,
    o-slide o-imager h2,
    o-slide o-imager h3,
    o-slide o-imager h4,
    o-slide o-imager h5,
    o-slide o-imager h6,
    o-slide o-imager p{
        position: absolute;
        color: white;
        left: 18%;
        width: 250px;
        
    }

    o-slide ul.list{
        margin-top: 20px;
    }

 

     o-slide ul.list li a{
        color:inherit;
        text-decoration: none;

     }

     
     o-slide ul.list li a img,
     o-slide ul.list li img{
      width: 25px;
      margin-top: 3px;

     }

     o-slide ul.list li a img.left,
     o-slide ul.list li img.left{
    float: left;
    margin-right: 10px;


     }

     o-slide ul.list li a img.right,
     o-slide ul.list li img.right{
      float: right;
      margin-left: 10px;

     }


     
     
     o-slide ul.list li {
        display: inline-block;
        font-size: 25px;
        border-bottom: 1px groove gray;
        width: 250px;
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 10px;
        right: 39px;
        padding-left: 30px;
     }



}